.btn {
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 9px 27px;
}
.btn.btn-normal {
  border: 1px solid #ff5a5f;
  background-color: #ff5a5f;
}
.btn:hover, .btn:focus {
  color: #fff;
}
.btn.btn-default {
  width: 100%;
  border-color: #c4c4c4;
  background: white;
  color: #484848;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px;
}