.navbar {
  background-color: #FFFFFF;
}

.navbar .navbar-brand {
  color: #ff1b1b;
  font-size: 2em;
  font-weight: 400;
}

.navbar .navbar-brand:hover {
  color: #c51010;
}

.dropdown-menu {
  width: 100%;
}